/* styles.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
}

:root {
  --background-purple: #9757f8;
  --white: #ffffff;
  --analogous-color-1: #8767f8;
  --analogous-color-2: #7777f8;
  --analogous-color-3: #6787f8;
  --complementary-color: #f85757;
  --split-complementary-1: #f8576a;
  --split-complementary-2: #f85757;
  --triadic-color-1: #f85757;
  --triadic-color-2: #57f857;
}

.navbar-container {
  background-color: var(--background-purple);
  padding: 10px 20px;
}

/* NavBar Styles */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 40px;
}

.headers {
  list-style: none;
  display: flex;
  gap: 30px;
  padding-right: 30px;
}

.links-header a {
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.links-header a:hover {
  color: rgb(231, 212, 0);
  transform: scale(1.05);
}

/* HomePage Styles */

.home-container {
  padding: 20px;
  height: 80vh;
  background-color: var(--background-purple);
}
/* HomePage */
.intro-section {
  position: absolute;
  top: 10%;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-around;
}
.intro {
  margin-top: 2%;
  width: 38%;
  height: 88%;
  display: inline-block;
  justify-content: center;
  align-items: center;
}
.text-intro h1 {
  color: #ffffff;
  font-size: 4em;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  padding: 40px 40px 0 50px;
}
p {
  color: #ffffff;
  margin-top: 21px;
  font-weight: bold;
  padding-left: 50px;
}
.btn {
  width: max-content;
  height: max-content;
  color: #ffffff;
  margin: 20px 50px 0 50px;
  border-radius: 30px;
  padding: 10px 15px 10px 15px;
  border: none;
  font-size: 2rem;
  font-weight: bold;
  background: linear-gradient(90deg, #8c52ff, #00bf63);
  transition: background 0.3s ease;
}
.btn:hover {
  background: linear-gradient(90deg, #00bf63, #8c52ff);
  transform: scale(1.05);
}
.img-intro {
  border-radius: 80%;
  background-image: url("../images/dvs.png");
  background-size: cover;
  opacity: 0.3;
}

@media screen and (max-width: 720px) {
  .intro-section {
    position: absolute;
    flex-direction: column;
    top: 50%;
  }
}

/* styles.css */
.main-form-container {
  padding: 1px;
  /* height: 70vh; */
}
.form-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-sizing: border-box;
  row-gap: 0px;
  column-gap: 2px;
  padding: 0px 0px 0px 50px;
  height: 75dvh;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 1px;
  padding: 3px;
}
.form-group label {
  font-weight: bold;
  font-size: 0.7em;
  padding: 1px 0;
  display: flex;
  justify-content: space-between;
  color: var(--background-purple);
}
.form-group input,
select {
  width: 100%;
  padding: 4px;
  border-radius: 2px;
  font-size: 16px;
  /* color: var(--background-purple); */
  border: 1.5px solid var(--background-purple);
}
.form-group input:hover,
.form-group input:focus {
  border-color: var(--background-purple);
  background-color: #e7eaf7;
}
.form-group input[type="select"] {
  border-color: var(--background-purple);
  color: #6787f8;
  background-color: #e7eaf7;
}
.form-group input[type="file"] {
  padding: 2px;
}
.text-danger {
  font-size: 0.5em;
  float: right;
  margin-left: 43%;
  margin-top: -15px;
  padding: 3px;
}
.message-of-input {
  padding: 0;
  margin: 0;
  font-size: 0.5 em;
}
.comparison-message {
  padding: 0;
  margin: 0;
  font-size: 0.8em;
  font-weight: bold !important;
  color: red;
}
/* ButtonComponent.css */

.buttonSubmit {
  text-align: center;
  border-radius: 5px;
  text-align: center;
  border-color: var(--analogous-color-1);
  background-color: none;
  color: white;
  font-size: 1em;
  font-weight: bold;
  width: 70%;
  height: 40px;
  margin-top: 20px;
  border: 2px solid var(--analogous);
  background-color: var(--analogous-color-1);
}
@media (max-width: 768px) {
  .form-container {
    grid-template-columns: 1fr;
  }
}

/* footer contaier */
.footer-container {
  background-color: var(--background-purple);
  color: var(--white);
  text-align: center;
  padding: 17px;
  bottom: 0;
  width: 100%;
  /* position: fixed; */
}

/* StudentTable.css */
/* styles.css */
.sec2-data {
  color: #9757f8;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
  text-decoration: none;
}

.sec2-lable {
  display: block;
  font-weight: normal;
  /* color: blue; */
}
